.App {
  text-align: center;
  height: 100vh;
  background-color: #FFC857
  /* #FF57BB*/;
}

#display {
  display: flex;
  flex-wrap: wrap;

  
  margin: 0% 25%;
  width: 60%;
  margin-top: 50%;   
  transform: translate(0, -40%)                       /* 3 */
  
}

#sound-choice-display {
  background-color: #FF57BB;
  border-radius: 15%;
  border: snow;
  color: white;
  font-size: large;
}


#title {
  text-align: center;
  font-size: xx-large;
  display: block;
  position: relative;
  top: 15%;
}

