.App {
  text-align: center;
  background-color: #FFC857;
  width: 60%;
  margin: 50% 25%;  
  height: 100%;
  
  /* #FF57BB*/;
}

#display {
  display: flex;
  flex-wrap: wrap;
  
}

#sound-choice-display {
  background-color: #FF57BB;
  border-radius: 15%;
  border: snow;
  color: white;
  font-size: large;
}


#title {
  text-align: center;
  font-size: xx-large;
  display: block;
  position: relative;
  top: 25%;
  right:8%;
  transform: translate(0, -25%);
  color: #323031;
  font-family: 'Abril Fatface', cursive;
}

