.App {
  text-align: center;
  display: flex;
  background-color: #FFC857
  /* #FF57BB*/;
}

#display {
  display: flex;
  flex-wrap: wrap;

  
  margin: 0% auto;
  width: 60%;
  margin-top: 50%;   
  transform: translate(0, -50%)                       /* 3 */
  
}

#sound-choice-display {
  background-color: #FF57BB;
  border-radius: 15%;
  border: snow;
  color: white;
  font-size: large;
}


#title {
  text-align: center;
  margin-top: 20%;
  font-size: xx-large;
}

