

.drum-pad-button {
    width: 11vw;
    height: 11vw;
    background-color: #DB3A34;
    /* #F7E8A4;*/
    box-shadow: 2.2px 1.8px .4px .2px #177E89;
    /* #6EFAFB; */
    font-size: 10;
    margin-right: 5vw;
    margin-top: 22px;

}


.drum-pad-button:hover {   
    background-color: white;
    transition: 2s;
}

/*
@keyframes buttonPressed {

    from{
        background-color: rgb(226, 226, 226);
        
    }
    to {
        background-color: chartreuse;
    }
}
*/

.drum-pad-button:active {
    background-color: red;
    transform: translateY(40px);
    animation: buttonPressed 3s infinite; 
    opacity: 0.2;
}

